@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;;
}

img {
    margin-left: 30%;
    margin-top: 70px;
    width: 30%;
    height: 80%;
    padding: 0;
    border-radius: 10px;
}

 nav {
    position: fixed;
    background: #008286;
    height: 80px;
    width: 100%;
 }

 nav:hover{
    background-color: bisque;
 }

 label.logo {
    color: lightcoral;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
 }

 .logo:hover{
    color: #008286;
    transition: .3;
 }

 nav ul {
    float: right;
    margin-right: 20px;
 }

 nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
 }

 nav ul li a {
    color: lightcoral;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
 }

 a.active,a:hover{
    background: darkslategray;
    transform: .5s;
 }



/*.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header:hover {
    background-color: darkslategrey;
}

.logo {
    position: relative;
    font-size: 25px;
    color: lightcoral;
    text-decoration: solid;
    line-height: 30px;
    font-weight: 600px;
}

/*.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: purple;
    animation: showsRight 1s ease forwards;
    animation-delay: .4s;
}*/

/*.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li a {
    display: block;
    color: lightcoral;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbar a:hover,
.navbar a.active {
    color: lightslategrey;
}*/

#Homepage {
    height: 100vh;
    /*background: url('blk.jpg') no-repeat;*/
    background-color: teal;
    background-size: contain;
    background-position: center;
    border: 10px solid bisque;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#Homepage-content {
    max-width: 500px;
}

#Homepage-content h2 {
    color: white;
    position: relative;
    font-size: 25px;
    font-weight: 700px;
    white-space: nowrap;
    line-height: 2.5;
}

#Homepage-content h3 {
    font-size: 30px;
    font-weight: 700px;
    white-space: nowrap;
    color: lightcoral;
}

.Home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

/*.btn-box {
    position: relative;
    margin: 80%;
    margin-bottom:
    width: 345px;
    height: 30px;
}

.btn-box a {
    position: relative;
    display: flex;
}

.btn-box a:hover {
    color: lightcoral;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: lightcoral;
}

.btn-box a:nth-child(2)::before {
    background: lightcoral;
}

.btn-box a:nth-child(2):hover {
    background: lightcoral;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover:before {
    width: 100%;
}*/

#home-sci {
    position: absolute;
    bottom: 40px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

#home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    background: transparent;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

#home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    z-index: -1;
    transition: .5s;
}

#home-sci a:hover::before {
    width: 100%;
}

#ABOUT-content {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 20px 0 40px;
    padding: 100px 50px;
    border: 10px solid teal;
    border-radius: 10px;
}

.ABOUT {
    background-color: bisque;
    color: teal;
    text-align: center;
    padding: 10px;
}

.ABOUT:hover {
    color: lightcoral;
    background-color: whitesmoke;
    font-size: 15px;
}

#CONTACT {
    background-color: teal;
    height: 100vh;
    border: 10px solid bisque;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#to-contact-me {
    padding: 20px;
    width: 50px;
    background-color: transparent;
    font-size: 50px
}

#to-contact-me a:hover {
    opacity: 0.9;
}

#my-skill {
    background-color: bisque;
    height: 100vh;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 20px 0 40px;
    padding: 30px;
    border: 10px solid teal;
    border-radius: 10px;
}

#my-skill h2{
    justify-content: space-between;
    border: 2px whitesmoke solid;
    border-radius: 8px;
}

#my-skill h2:hover {
    color: teal;
    background-color: bisque;
}

.checkbtn {
    font-size: 20px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40%;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.flex-container {
    align-items: center;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    padding-right: 80px;
}

@media screen and (max-width: 769px) {
    body {
        background-color: tan;
    }

    .logo {
        color: blue;
        font-size: 20px;
        padding: 10px;
        
    }
    
    p {
        color: maroon;
        text-indent: 30px;
        border: 2px solid black;
        padding: 10px;
    }

    h2 {
        color: darkgrey;
        font-size: 20px;
    }

    h3 {
        color: blueviolet;
    }

    .home {
        color: indigo;
        font-size: 20px;
    }

    #my-skill {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 769px) {
    .flex-container {
        background-color: mediumorchid;
        background-size: 100%;
        display: flex;
        align-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;

    }
}

@media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding: 50px;
    }
    nav ul li {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;

    }
}